body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(100deg, rgb(202, 243, 202),rgb(111, 250, 111));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    font-size: 2rem;
    padding-bottom: 10px;
}

.user-input,#submit{
    padding:0.5rem;
    font-size: 2rem;
    border:none;
    margin-bottom: 10px;
}

#submit{
    background-color: rgb(111, 250, 200);
    color: white;
    cursor: pointer;
}

#submit:hover{
    background-color: white;
    color: rgb(111, 250, 200);
    transition: 0.3s ease;
}



#todos{
    /* background-color: rgb(255, 255, 255); */
    min-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
   
}

.icons{
    
    display: flex;
    column-gap: 10px;
    padding-right: 5px;
}

.icons i{
    font-size: 1.5rem;
}

.li{
    display: flex;
    flex-direction: column;
}

.entryList{
    display:flex;
    margin-bottom: 20px;
    background-color: white;
    padding: 15%;
    min-width: 150%;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    border-radius: .5rem;
    
}

.para{
    text-decoration:line-through;
}


@media (min-width :1100px) {
    .entryList{
        display:flex;
        margin-bottom: 20px;
        background-color: white;
        padding: 2.5%;
        min-width: 60%;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        border-radius: .5rem;
        position: relative;
        right:30px;
        
    }
}

.checks{
    height: 20px;
    width: 20px;
}
/* 
#todos div{
    margin: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 1.5rem;
    width: 100%;
    
    
   
} */









